* {
    font-family: "Poetsen One", sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}
  
#root {
    height: 100%;
}
.app {
    background: linear-gradient(0deg, rgba(104, 190, 10, 1) 0%, rgba(66, 135, 73, 1) 100%);
    min-height: 100%;
    padding: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.characterContainer {
    justify-content: center;
    width: 280px;
    height: 350px;
    border-width: 8px;
    background-color: #8ab661;
    border-color: #8ab661;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}
.character {
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    border-radius: 10px;
}
.name {
    padding-top: 30px;
}

.title {
    font-size: 35px;
    color: #8ab661;
}
.description {
    color: #8ab661;
}